.map-container {
    width: 100%;
    /* Opcional: ajusta el ancho del contenedor */
    max-width: 600px;
    /* Opcional: establece un ancho máximo */
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
    overflow: hidden;
    /* Evita que los elementos salgan del contenedor */
}

#mexico-map path {
    fill: #ccc;
    /* Color de relleno para todos los estados */
    stroke: #fff;
    /* Color de borde */
    stroke-width: 1;
    /* Grosor del borde */
    transition: fill 0.3s;
    /* Transición suave del cambio de color */
}

#MX-BCN,
#MX-CHH,
#MX-SIN,
#MX-DUR,
#MX-NEL,
#MX-SLP,
#MX-GUA,
#MX-JAL,
#MX-QUE,
#MX-VER,
#MX-PUE,
#MX-DIF,
#MX-MEX,
#MX-MOR,
#MX-GRO,
#MX-TAB,
#MX-YUC {
    fill: rgb(163, 135, 78) !important;
    cursor: pointer;
}

#MX-BCN:hover,
#MX-CHH:hover,
#MX-SIN:hover,
#MX-DUR:hover,
#MX-NEL:hover,
#MX-SLP:hover,
#MX-GUA:hover,
#MX-JAL:hover,
#MX-QUE:hover,
#MX-VER:hover,
#MX-PUE:hover,
#MX-DIF:hover,
#MX-MEX:hover,
#MX-MOR:hover,
#MX-GRO:hover,
#MX-TAB:hover,
#MX-YUC:hover {
    fill: rgb(211, 185, 134) !important;
}

.font-20 {
    font-size: 20px !important;
    /*letter-spacing: -5px;*/
}
.font-30 {
    font-size: 30px !important;
    /*letter-spacing: -5px;*/
}
.font-40 {
    font-size: 40px !important;
    /*letter-spacing: -5px;*/
}
.font-50 {
    font-size: 50px !important;
    /*letter-spacing: -5px;*/
}
.font-60 {
    font-size: 60px !important;
    /*letter-spacing: -5px;*/
}
.font-70 {
    font-size: 70px !important;
    /*letter-spacing: -5px;*/
}
.font-80 {
    font-size: 80px !important;
    /*letter-spacing: -5px;*/
}

.dorado {
    color: rgb(211, 185, 134) !important;
}

.bg-dorado {
    background-color: rgba(187,161,85) !important;
}

.sub-menu {
    background-color: red;
}

.bg-gris {
    background-color: #595959 !important;
}

/* ---------------------------------------- */
.hidden {
    display: none;
}
.title {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.contenedor-preguntas {
    background-color: white;
}

.borde {
    border: 1px solid black;
}
/* ---------------------------------------- */
details {
    padding: 15px;
    margin-bottom: 20px;
	position: relative;
}

details summary {
    position: relative;
    cursor: pointer;
    list-style: none;
}

/* Ocultar el triángulo predeterminado */
summary::-webkit-details-marker {
    display: none;
}
summary::marker {
    display: none;
}

details summary::before {
    position: absolute;
    content: "➕";
    font-size: 1.75rem;
    top: 10px;
    right: 16px;
    color: blue !important;
}

details[open] summary::before {
	content: "➖";
    -webkit-animation: rotate-emoji 0.6s ease-in-out both;
    animation: rotate-emoji 0.6s ease-in-out both;
    color: blue !important;
}

@-webkit-keyframes rotate-emoji {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.color-dor {
    color: rgba(163, 135, 78);
}